body {
    font-family: "Times New Roman", Times, serif;
    color: white;
}

h1 {
    text-align: left;
    color: white;
    padding: 30px;
    font-weight: bold;
}

h2 {
    text-align: left;
    color: white;
    padding: 24px;
    font-weight: bold;
    font-weight: italic;
}

h3 {
    text-align: left;
    color: white; 
    padding: 20px;
    font-weight: bold;
}

p {
    text-align: left;
    color: white; 
    padding: 16px;
}
